section {
    line-height: normal;
}

p {
    margin: 0 0 20px !important;
}

blockquote {
    margin-bottom: 20px;
}

.code-block-small {
    white-space: pre !important;
    border-radius: 4px !important;
    background: #bedfff !important;
    padding: 10px 10px 10px !important;
    margin: 0 !important;
    font-family: 'PT Mono', monospace !important;
    font-size: medium;
}

.bg-yellow {
    background: #ffff99 !important;
}

.list-wide {
    line-height: 2.5;
}

.list-wide2 {

}

.list-wide2 > li {
    margin-top: 20px;
}

pre.cmd {
    white-space: pre !important;
    border-radius: 4px;
    background: #EEEEEE;
    padding: 10px !important;
    font-family: 'PT Mono', monospace !important;
    font-size: medium;
}

p.cmd, span.cmd {
    border-radius: 4px;
    background: #EEEEEE;
    padding: 10px !important;
    font-family: 'PT Mono', monospace !important;
    font-size: medium;
}

.stroke {
    text-decoration: line-through;
}

ul, ol {
    margin-bottom: 10px !important;
}

table.table-bottom-outline {
    border-collapse: collapse;
}

table.table-bottom-outline td, table.table-bottom-outline th {
    border-collapse: collapse;
    border-bottom: 1px solid #a3a3a3;
    padding: 5px;
}

section.newlab {
    counter-increment: lab;
}

section.lab {

}

section.lab div>h2:first-child:before {
    content: 'Lab ' counter(lab) '. ';
}

section.newlab div>h2:first-child:before {
    content: 'Lab ' counter(lab) '. ';
}

.first {
    margin-top: 20px !important;
}
