// Ribbon theme for Shower HTML presentation engine: github.com/shower/shower
// Copyright © 2010–2013 Vadim Makeev, pepelsbey.net
// Licensed under MIT license: github.com/shower/shower/wiki/MIT-License

// PT Sans
@font-face {
	font-family:'PT Sans';
	src:local('PT Sans'), url(../fonts/PTSans.woff) format('woff');
	}
@font-face {
	font-weight:bold;
	font-family:'PT Sans';
	src:local('PT Sans'), url(../fonts/PTSans.Bold.woff) format('woff');
	}
@font-face {
	font-style:italic;
	font-family:'PT Sans';
	src:local('PT Sans'), url(../fonts/PTSans.Italic.woff) format('woff');
	}
@font-face {
	font-style:italic;
	font-weight:bold;
	font-family:'PT Sans';
	src:local('PT Sans'), url(../fonts/PTSans.Bold.Italic.woff) format('woff');
	}
@font-face {
	font-family:'PT Sans Narrow';
	font-weight:bold;
	src:local('PT Sans Narrow'), url(../fonts/PTSans.Narrow.Bold.woff) format('woff');
	}

// PT Mono
@font-face {
	font-family:'PT Mono';
	src:local('PT Mono'), url(../fonts/PTMono.woff) format('woff');
	}